body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #0e1629;
    color: white;
    text-align: left;
}
.images{height: 250px; width: 250px
}

#p1{color: red;
}

#p2{color: darkred
}

#but{background-color:#272e36;
}

.container{display: flex;;
           gap: 10px;
           flex-wrap: wrap;
}

header {
    background: #0078D7;
    color: black;
    padding: 1rem;
    text-align: center;
}

nav a {
    margin: 0 10px;
    color: green;
    text-decoration: none;
}

section {
    padding: 1rem;
}

.j1{padding: 1rem}
footer {
    background: #333;
    color: white;
    text-align: center;
    padding: 1rem;
}
.fa-instagram{color: black
}
.fa-youtube{color: red
}
.fa-envelope{color: #D2B48C}